@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap');


html{
    margin: 60px 40px 0px 40px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
    color: black;
    outline: none;
}

#landing-section{
    width:100%;
    height:calc(100vh - 140px);
    box-sizing: border-box;
    background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%),url('./assets/homepage.png');
    background-size: cover;
    background-position: left;
    background-position-y: top;
    background-attachment: scroll, fixed;
    display: flex;
    flex-direction: column;
}

header{
    box-sizing: border-box;
    height: 80px;
    width: 90%;
    margin-top:2%;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#logo{
    max-width: 100%;
    height: auto;
    background-color: #E47312;
    padding: 45px 35px;
}

#header-links{
    display: flex;
    align-items: center;
}

.link{
    width: 50px;
    color:#414147;
    font-weight: 700;
    font-size: 12px;
    padding: 33px 14px;  
    text-transform: uppercase; 
    letter-spacing: 1px;
    transition: all 0.3s;
    text-align: center;
}

.link:hover{
    color:#E47312;
}

.drop-down{
    padding-left: 3px;
    font-size: 10px;
    color: gray;
}

#get-quote{
    text-transform: uppercase;
    background-color:#E47312;
    padding: 34px 28px 31px;
    margin-left: 20px;
    height: 20%;
    width: 110px;
    font-weight:600;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.3s;
}

#get-quote:hover{
    background-color:#f88723;
}

#landing-section-content{
    color: white;
    width: 60%;
    font-size: 20px;
    font-weight: 300;
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    left: 10%;
    /* bottom: 0; */
}

#landing-section-content h1{
    margin: 0;
    font-size: 64px;
    font-weight: 600;
}

.button{
    color: white;
    background-color: #E47312;
    font-size: 12px;
    font-weight: 600;
    padding: 15px 25px;
    transition: all 0.3s;
}

.button:hover{
    background-color:#f88723;
}

#info-wrapper{
    width: 1000px;
    background-color: #e47312;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    margin-right: 40px;
}

.info-item{
    color: white;
    width: calc(100% / 3);
    height: 100%;
    text-align: center;
    font-size: 14px;
    padding: 40px;
    box-sizing: border-box;
}

.info-item i{
    font-size: 24px;
    /* margin-bottom: 15px; */
}

.info-item p{
    font-weight: 300;
}

.info-item a{
    color: white;
    transition: all 1s;
}
.info-item a:hover{
    border-bottom: 1px solid white;
}

#socials-nav{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: #0A1229;
    position: absolute;
    right: 40px;
    top: 41.5%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

#socials-nav i{
    padding: 20px 15px;
    color: #fff;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
}

#services-section{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 15% 7% 0 7%;
}

#services-section h1{
    margin: 0;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 7%;
}

#services-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card{
    width: 25%;
    font-size: 18px;
    color: #919197;
    font-weight: 300;
    margin: 0 20px;
}

.card h2{
    font-size: 17px;
    font-weight:600;
    text-transform: uppercase;
    color: black;
}

.card a{
    color: #919197;
    font-weight: 500;
}

#about-section{
    margin-top: 5%;
    padding: 5% 7% 7% 7%;
    box-sizing: border-box;
}

#about-container{
    display: flex;
    flex-direction: row;
}

#img-container{
    width: 50%;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/serv-1.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: scroll, fixed;
}

#about-container article{
    width: 50%;
    padding-left: 100px;
}

#about-container article h1{
    font-size: 42px;
    font-weight: 600;
}

#about-container article p{
    color: #919197;
    font-size: 17px;
    font-weight: 300;
}

#about-container article a{
    color: #919197;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

#about-container article a:hover{
    border-bottom: 1px solid red;
}

#facts-section{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}

.facts-card{
    width: 25%;
    padding:0 5%;
}

.facts-card > div{
    font-size: 60px;
    color:#E47312;
    font-weight: 500;
    margin-bottom: 10px;
}

.facts-card p{
    font-size: 17px;
    font-weight: 300;
    color: #919197;
}

#projects-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 10%;
}

#projects-heading h1{
    margin: 0;
    font-size: 42px;
    font-weight: 600;
}

#projects-heading a{
    color: #919197;
    transition: 0.2s;
}
#projects-heading a:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #E47312;
}

#projects-showcases{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.project-item{
    box-sizing: border-box;
    width: 33.33333333%;
    padding: 20px;
}

.project-img{
    position: relative;
    overflow: hidden;
}

.project-overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: rgba(0,0,0,0.3);
    transition: 0.2s;
    opacity: 0%;
}

.view-proj-icon{
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    padding: 30px 25px;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
    position: absolute;
    top: 40%;
    right: 40%;
    text-align: center;
    border-radius: 50%;
    color: white;
}

.project-overlay:hover{
    opacity: 1;
}

#orange-section{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 5% 5%;
    color: white;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: cover;
    background-attachment: scroll, fixed;
    margin-bottom: 20px;
}

#orange-section h1{
    font-size: 40px;
    text-transform: uppercase;
    font-weight:600;
    margin-bottom: 0;
}

#orange-section p{
    margin-top: 0;
    font-weight: 300;
}

#orange-section a{
    margin-top: 50px;
    font-size: 14px;
    font-weight: 500;
    color: white
}