@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap');


html{
    margin: 60px 40px 40px 40px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
    color: black;
    outline: none;
}

#landing-section{
    width:100%;
    height:calc(100vh - 140px);
    box-sizing: border-box;
    background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%),url('./assets/homepage.png');
    background-size: cover;
    background-position: left;
    background-position-y: top;
    background-attachment: scroll, fixed;
    display: flex;
    flex-direction: column;
    position: relative;
}

header{
    box-sizing: border-box;
    height: 80px;
    width: 90%;
    margin-top:2%;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#logo{
    max-width: 100%;
    height: auto;
    background-color: #E47312;
    padding: 45px 35px;
}

#header-links{
    display: flex;
    align-items: center;
}

.link{
    color:#414147;
    font-weight: 700;
    font-size: 12px;
    padding: 33px 14px;  
    text-transform: uppercase; 
    letter-spacing: 1px;
    transition: all 0.3s;
    text-align: center;
    position: relative;
    z-index: 1;
}

.link::before{
    content: '';
    background:#E47312;
    width: 1px;
    position: absolute;
    top: 0%;
    left: 50%;
    right: 0%;
    bottom: 0%;
    transform: scaleY(0);
    transition: all 0.5s;
}

.link::before:hover{
    transform: scaleY(1);
    z-index: 1;
}


.link:hover{
    color:#E47312;
}

.drop-down{
    padding-left: 3px;
    font-size: 10px;
    color: gray;
}

#get-quote{
    text-transform: uppercase;
    background-color:#E47312;
    padding: 34px 28px 31px;
    margin-left: 20px;
    height: 20%;
    width: 110px;
    font-weight:600;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.3s;
}

#get-quote:hover{
    background-color:#f88723;
}

#sidebar{
    display: none;
}

#landing-section-content{
    color: white;
    width: 60%;
    font-size: 20px;
    font-weight: 300;
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    left: 10%;
}

#landing-section-content h1{
    margin: 0;
    font-size: 64px;
    font-weight: 600;
}

.button{
    color: white;
    background-color: #E47312;
    font-size: 12px;
    font-weight: 600;
    padding: 15px 25px;
    transition: all 0.3s;
}

.button:hover{
    background-color:#f88723;
}

#info-wrapper{
    width: 1000px;
    background-color: #e47312;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    margin-right: 40px;
}

.info-item{
    color: white;
    width: calc(100% / 3);
    height: 100%;
    text-align: center;
    font-size: 14px;
    padding: 40px;
    box-sizing: border-box;
}

.info-item i{
    font-size: 24px;
}

.info-item p{
    font-weight: 300;
}

.info-item a{
    color: white;
    transition: all 1s;
}
.info-item a:hover{
    border-bottom: 1px solid white;
}

#socials-nav{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: #0A1229;
    position: absolute;
    right: 40px;
    top: 41.5%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

#socials-nav i{
    padding: 20px 15px;
    color: #fff;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
}

#services-section{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 15% 7% 0 7%;
}

#services-section > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7%;
}

#services-section > div > a{
    color:#919197;
    position: relative;
}

#services-section h1{
    margin: 0;
    font-size: 42px;
    font-weight: 600;
}

#services-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card{
    width: 25%;
    font-size: 18px;
    color: #919197;
    font-weight: 300;
    margin: 0 20px;
}

.card h2{
    font-size: 17px;
    font-weight:600;
    text-transform: uppercase;
    color: black;
}

.card a{
    color: #919197;
    font-weight: 500;
}

#about-section{
    margin-top: 5%;
    padding: 5% 7% 7% 7%;
    box-sizing: border-box;
}

#about-container{
    display: flex;
    flex-direction: row;
}

#img-container{
    width: 50%;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/serv-1.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: scroll, fixed;
}

#img-container > img{
    display: none;
}

#about-container article{
    width: 50%;
    padding-left: 100px;
}

#about-container article h1{
    font-size: 42px;
    font-weight: 600;
}

#about-container article p{
    color: #919197;
    font-size: 17px;
    font-weight: 300;
}

#about-container article a{
    color: #919197;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

#about-container article a:hover{
    border-bottom: 1px solid red;
}

#facts-section{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}

.facts-card{
    width: 25%;
    padding:0 5%;
}

.facts-card > div{
    font-size: 60px;
    color:#E47312;
    font-weight: 500;
    margin-bottom: 10px;
}

.facts-card p{
    font-size: 17px;
    font-weight: 300;
    color: #919197;
}

#projects-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 10%;
}

#projects-heading h1{
    margin: 0;
    font-size: 42px;
    font-weight: 600;
}

#projects-heading a{
    color: #919197;
    transition: 0.2s;
}
#projects-heading a:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #E47312;
}

#projects-showcases{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.project-item{
    box-sizing: border-box;
    width: 33.33333333%;
    padding: 20px;
}

.project-img{
    position: relative;
    overflow: hidden;
}

.project-overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: rgba(0,0,0,0.3);
    transition: 0.2s;
    opacity: 0%;
}

.view-proj-icon{
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    padding: 30px 25px;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
    position: absolute;
    top: 40%;
    right: 40%;
    text-align: center;
    border-radius: 50%;
    color: white;
}

.project-overlay:hover{
    opacity: 1;
}

#orange-section{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 5% 5%;
    color: white;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: cover;
    background-attachment: scroll, fixed;
    margin-bottom: 20px;
}

#orange-section h1{
    font-size: 40px;
    text-transform: uppercase;
    font-weight:600;
    margin-bottom: 0;
}

#orange-section p{
    margin-top: 0;
    font-weight: 300;
    font-size: 17px;
}

#orange-section a{
    margin-top: 50px;
    font-size: 14px;
    font-weight: 500;
    color: white
}

#team-section{
    box-sizing: border-box;
    padding: 5% 7% 0 7%;  
    height: 100vh;
}

#team-section h1{
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 7%;;
}

#staff-container{
    margin-top: 100px;
    margin: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.staff-content{
    width: 25%;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
}

.team-photo-1{
    height: 300px;
    background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/team-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.team-photo-2{
    height: 300px;
    background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/team-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.team-photo-3{
    height: 300px;
    background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/team-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.team-photo-4{
    height: 300px;
    background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/team-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.team-content{
    padding: 29px 66px 29px 29px;
    background-color: #fff;
}

.team-content h2{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.team-content p{
    color: #bdbdc9;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
}

.staff-social-section{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 10px;
    background-color: #e47312;
    right: 0;
    bottom: 0;
}

.staff-social-section i{
    padding: 15px;
    color: white;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14)
}

#testimonials-section{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 5% 7% 0 7%;
    display: flex;
    z-index: 50;
}

#testimonials-left{
    box-sizing: border-box;
    width: 50%;
    padding: 0 10%;
}

#testimonials-left h1{
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 600;
}

#testimonials-left p{
    color: #919197;
    font-size: 17px;
    font-weight: 400;
}

#testimonials-left a{
    color: #919197;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
}

#testimonials-left a:hover{
    border-bottom: 2px solid #E47312;
}

#testimonials-right{
    box-sizing: border-box;
    width: 50%;
    display: flex;
}

#testimonials-right-section-1{
    box-sizing: border-box;
    width: 50%;
}
#testimonials-right-section-2{
    box-sizing: border-box;
    width: 50%;
    margin-top: 15%;
}

.testimonials-item{
    display: block;
    position: relative;
    margin: 50px auto 61px;
    padding: 80px 30px 26px;
    background-color: #fff;
    text-align: center;
}

.testimonial-photo{
    height: 60px;
    width: 60px;
    font-size: 80px;
    font-weight: 500;
    line-height: 105px;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    border-radius: 100%;
    color: white;
    justify-content: center;
    margin: -115px auto 25px;
}

.testimonial-title{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.job-title{
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 0;
}

.testimonial-para{
    margin: 0;
    margin-top: 5px;
    font-size:17px;
    color:#919197;
    font-weight: 400;
}

#blog-section{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 5% 7% 0 7%;
}

#blog-section h1{
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 600;
}

.blog-wrapper{
    display: flex;
}

.blog-container-card{
    box-sizing: border-box;
    width: 30%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-image: linear-gradient(90deg, #e47312, #ff6361);
}

.blog-image{
    max-width: 100%;
}

.blog-img-wrapper{
    position: relative;
}

.meta-number{
    width: 70px;
    height: 70px;
    background-image: linear-gradient(45deg, #ff6361, #e47312);
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meta-month{
    width: 70px;
    height: 40px;
    background-color: #fff;
    color: #9d9da5;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    top: 70px;    
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-content{
    padding: 25px 56px 25px 30px;
    background-color: #e47312;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
    color: white;
}

.blog-content h2{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.blog-text{
    font-size: 17px;
    font-weight: 300;
    color: hsla(0, 0%, 100%, 0.7);
}

.read-more{
    text-transform: uppercase;
    padding-bottom: 2px;
    font-weight:600;
    font-size: 14px;
    position: relative;
}

.read-more::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: hsla(0, 0%, 100%, 0.7);
    left: 0;
    bottom: 0;
}

.read-more:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: 0;
}

#logo-section{
    margin-top: 5%;
    width: 100%;
    box-sizing: border-box;
    padding: 3% 0;
    background-image: linear-gradient(56deg, #e47312, #ff6361);
    color: white;
}

#logo-wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-wrapper-title{
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

#logo-section > h1{
    display: none;
}

#logo1{
    background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-1w.png');
    width: 20%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 100px;
    background-repeat: no-repeat;
}
#logo2{
    width: 20%;
    min-height: 100px;
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-2w.png");
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 100px;
    background-repeat: no-repeat;
}
#logo3{
    width: 20%;
    min-height: 100px;
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-3w.png");
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 100px;
    background-repeat: no-repeat;
}
#logo4{
    width: 20%;
    min-height: 100px;
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-4w.png");
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 100px;
    background-repeat: no-repeat;
}
#logo5{
    width: 20%;
    min-height: 100px;
    background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-5w.png");
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 100px;
    background-repeat: no-repeat;
}

footer{
    box-sizing: border-box;
    background-color: #0a1229;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 50px 0 50px;
    border: 1px solid #2f3038;
}

#footer-content-wrapper{
    display: flex;
    box-sizing: border-box;
}

.footer-column{
    box-sizing: border-box;
    width: 33.33333%;
    color: white;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.footer-column h1{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    position: relative;
}

.footer-heading::after{
    content:"";
    position: absolute;
    background-color: #E47312;
    height: 1px;
    min-width: 60%;
    top: 9px;
    right: 5%;
}

.para{
    font-size: 18px;
    font-weight:200;
}

.find-on-map{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight:600;
}

#services-links{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

#services-links p{
    color: white;
    margin-bottom: 0;
}

#footer-logo{
    max-width: 100%;
    height: auto;
    background-color: #E47312;
    display: inline-block;
}

.contact-info-item h1{
    display: inline-block;
    margin-left: 15px;
    font-size: 17px;
    margin-bottom: 10px;
}

.contact-info-item i{
    font-size: 20px;
}

.contact-info-item p{
    font-size: 18px;
    font-weight: 200;
    margin: 10px 0;
    margin-left: 40px;
}